body {
    margin: 0;
    background-color: rgb(83, 122, 118);
}

#book-header {
    text-align: center;
    font-family: URW Chancery L, cursive;
    font-size: 130%;
    font-weight: bolder;
    background-color: white;
    color: rgb(83, 122, 118);
    text-shadow: 2px 0 rgb(142, 122, 165);
    letter-spacing:2px;
}

.forms {
    text-align: center;
    width: 42%;
    height: 270px;
    float: left;
    display: block;
    padding: 1%;
    margin-top: 1%;
    margin-right: 3%;
    margin-left: 3%;
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    border-radius: 20px;
    color: rgb(83, 122, 118);
}

#list-title {
    text-align: center;
    margin-top: 27%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    color: white;
    background-color: rgb(83, 122, 118);
}

progress {
    height: 40px;
    background: black;
    border-radius: 20px;
  }
  progress::-moz-progress-bar
  {
      background: rgb(142, 122, 165);
      
  }
  progress::-webkit-progress-bar
  {
      background: transparent;
  }
  progress::-webkit-progress-value
  {
      background: rgb(142, 122, 165);
      border-radius: 20px;
  }




